[submodule "frontend"]
	path = frontend
	url = https://github.com/ram-kumar-shrestha/photographer-portfolio-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ram-kumar-shrestha/photographer-portfolio-backend.git
